<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <title>@ViewBag.Title TilausDB </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!--Yllä olevaan ei tarvitse koskea-->
</head>
<body style="margin: -1px">
    <!--Navbar osio-->
    @if (Session["UserName"] != null)
    {


        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand">TilausDB</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="/Home/Index">
                                Aloitus
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Asiakkaatdb/Index">Asiakkaat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Tuotteetdb/Index">Palvelut ja tuotteet</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Tilauksetdb/Index">Tilaukset</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li>
                    </ul>

                    <h7 style="color: white "><a style="margin: 40px"> Kirjautuneena: @Session["UserName"] </a></h7>
                    <a class="btn btn-outline-light" href="~/Home/LogOut"> Kirjaudu ulos</a>

                </div>
            </div>
        </nav>
    }
    @if (Session["UserName"] == null)
    {
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">TilausDB</a>
            </div>
        </nav>
    }
    <!--Navbar osio loppuu-->
    <!---Renderöinti osio alkaa -->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>@DateTime.Now.ToString("dddd") - @DateTime.Now.ToString("MMMM") - @DateTime.Now.ToString("yyy") Connected to SQL Server</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!---Renderöinti osio loppuu -->
</body>
</html>



