@model MVC_TKsovellus_1001.Models.Tilausrivit
@{
}
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <h3>Tilausrivit: Lisätiedot</h3>
        <hr />
        <dl class="dl-horizontal">

            <dt>@Html.DisplayNameFor(model => model.Maara)</dt>
    
            <dd>@Html.DisplayFor(model => model.Maara)</dd>
    
            <dt>@Html.DisplayNameFor(model => model.Ahinta)</dt>
    
            <dd>@Html.DisplayFor(model => model.Ahinta)</dd>
    
            <dt>@Html.DisplayNameFor(model => model.Tilaukset.Toimitusosoite)</dt>
    
            <dd>@Html.DisplayFor(model => model.Tilaukset.Toimitusosoite)</dd>
    
            <dt>@Html.DisplayNameFor(model => model.Tuotteet.Nimi)</dt>
    
            <dd>@Html.DisplayFor(model => model.Tuotteet.Nimi)</dd>
    
        </dl>
    </div>
    <p>
        <a class="btn btn-primary btm-sm" href="javascript:void(0);" onclick="history.go(-1);">Takaisin</a>
    </p>
</body>

