@model MVC_TKsovellus_1001.Models.Asiakkaat

@{
    ViewBag.Title = "Details";
}

<h2>Asiakkaat: Lisätiedot</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nimi)
        </dd>
        <dt>
            Asiakasnumero
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AsiakasID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Osoite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Osoite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postitoimipaikat.Postitoimipaikka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postitoimipaikat.Postitoimipaikka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postinumero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postinumero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Puhelinumero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puhelinumero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sähköposti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sähköposti)
        </dd>

    </dl>
</div>

<p></p>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <!--<a class="btn btn-secondary btm-sm" href="/Asiakkaatdb/Index">Takaisin</a>-->
        <a class="btn btn-primary btm-sm" href="javascript:void(0);" onclick="history.go(-1);">Takaisin</a>
    </div>
</div>
