@model MVC_TKsovellus_1001.Models.Tuotteet

@{
    ViewBag.Title = "Delete";
}

<h3>Tuotteet: Poista tuote</h3>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Nimi)</dt>

        <dd>@Html.DisplayFor(model => model.Nimi)</dd>

        <dt>@Html.DisplayNameFor(model => model.Ahinta)</dt>

        <dd>@Html.DisplayFor(model => model.Ahinta)</dd>

        <dt>@Html.DisplayNameFor(model => model.Kuva)</dt>

        <dd><img style="height: 200px; width: 200px; display: block;" src="@Model.Kuva" /><img /></dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Poista" class="btn btn-danger" />
            <a class="btn btn-primary btm-sm" href="/Tuotteetdb/Index">Takaisin</a>
        </div>
    }
</div>
