@model MVC_TKsovellus_1001.Models.Tuotteet

@{
    ViewBag.Title = "Details";
}

<h2>Tuotteet: Lisätiedot</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ahinta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ahinta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kuva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kuva)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-primary btm-sm" href="~/Tuotteetdb/Edit?id=@Model.TuoteID">Muokkaa</a>
    <a class="btn btn-primary btm-sm" href="~/Tuotteetdb/Index">Takaisin</a>
</p>
