@model IEnumerable<MVC_TKsovellus_1001.Models.Tuotteet>

@{
    ViewBag.Title = "Tuotteet";
}



@using (Html.BeginForm("Index", "Tuotteetdb", FormMethod.Get))
{   
    <h3>Tuotteet</h3>
    <div class="input-group" style="margin-left:600px">

        <p class="px-1">@Html.Label("Etsi termillä: ")</p>
        <p class="px-1">@Html.TextBox("searchString1", ViewBag.currentFilter1 as string, new { @class = "form-control" })</p>
        <p class="px-1"><input class="btn btn-primary btm-sm" type="submit" value="Etsi" class="form-control" /></p>
    </div>
}
<p>

    <a class="btn btn-primary btm-sm" href="/Tuotteetdb/Create">Lisää tuote</a>
    <a class="btn btn-primary btm-sm" href="/Tuotteetdb/CardIndex">Tuotteiden esittelynäkymä</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Ahinta</th>
            <th>Kuva</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nimi)</td>
                <td>@Html.DisplayFor(modelItem => item.Ahinta)</td>
                <td><a href="@item.Kuva" ; target="_blank"><img style="height: 100px; width: 100px; display: block;" src="@item.Kuva" /><img /></a></td>
                <td>
                    <a class="btn btn-primary btm-sm" href="/Tuotteetdb/Edit?id=@item.TuoteID">Muokkaa</a>
                    <a class="btn btn-info btm-sm" href="/Tuotteetdb/Details?id=@item.TuoteID">Lisätiedot</a>
                    <a class="btn btn-danger btm-sm" href="/Tuotteetdb/Delete?id=@item.TuoteID">Poista</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;
        const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
            v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
        )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));
        document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
            const table = th.closest('table');
            const tbody = table.querySelector('tbody');
            Array.from(tbody.querySelectorAll('tr'))
                .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
                .forEach(tr => tbody.appendChild(tr));
        })));
    </script>
}