@model MVC_TKsovellus_1001.Models.Tilaukset

@{
    ViewBag.Title = "Lisätiedot";
}
<div>
    <h3>Erittely</h3>
    <p></p>
    <h5>Tilaus: ID @Html.DisplayFor(model => model.TilausID)</h5>
    <p></p>
    <h6>Tilaaja: @Html.DisplayFor(model => model.Asiakkaat.Nimi)</h6>
    <p></p>
    <h6>Tomitusosoite: @Html.DisplayFor(model => model.Asiakkaat.Osoite)</h6>
    <p></p>
    <h6>Postinumero: @Html.DisplayFor(model => model.Asiakkaat.Postinumero)</h6>
    <p></p>
    <h6>Postitoimipaikka: @Html.DisplayFor(model => model.Postitoimipaikat.Postitoimipaikka)</h6>
    <p></p>
    <h6>Tilauspäivä: @Html.DisplayFor(model => model.Tilauspvm)</h6>


</div>
<table class="table">
    <tr>
        <th>Tilausrivi ID</th>
        <th>Tuotteet</th>
        <th>Määrä</th>
        <th>Yhteensä</th>
    </tr>

    @foreach (var tilausrivi in Model.Tilausrivit)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => tilausrivi.TilausriviID)</td>
            <td>@Html.DisplayFor(modelItem => tilausrivi.Tuotteet.Nimi)</td>
            <td>@Html.DisplayFor(modelItem => tilausrivi.Maara)</td>
            <td>
                @{
                    var yht = tilausrivi.Maara * tilausrivi.Ahinta;
            }
            @Html.DisplayFor(modelItem => yht)
        </td>
        <td>
            <a class="btn btn-primary btm-sm" href="/Tilausrivitdb/Edit?id=@tilausrivi.TilausriviID">Muokkaa</a>
            <a class="btn btn-danger btm-sm" href="/Tilausrivitdb/Delete?id=@tilausrivi.TilausriviID">Poista</a>
        </td>
    </tr>
}
</table>

<div class="row-cols-6"><a class="btn btn-primary btm-sm" href="javascript:void(0);" onclick="history.go(-1);">Takaisin</a></div>
