@model IEnumerable<MVC_TKsovellus_1001.Models.Tilaukset>

@{
    
}

    <p>
        <a class="btn btn-primary btm-sm" href="/Tilauksetdb/Create">Lisää tilaus</a>
    </p>
    <table class="table">
        <tr>
            <th>
                Toimitusosoite
            </th>
            <th>
                Tilauspvm
            </th>
            <th>
                Toimituspvm
            </th>
            <th>
                Asiakkaat.Nimi
            </th>
            <th>
                Postitoimipaikka
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Toimitusosoite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tilauspvm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Toimituspvm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asiakkaat.Nimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postitoimipaikat.Postitoimipaikka)
            </td>
            <td>
                <a class="btn btn-primary btm-sm" href="/Tilauksetdb/Edit?id=@item.TilausID">Muokkaa</a>
                <a class="btn btn-info btm-sm" href="/Tilauksetdb/Details?id=@item.TilausID">Lisätiedot</a>
                <a class="btn btn-danger btm-sm" href="/Tilauksetdb/Delete?id=@item.TilausID">Poista</a>
            </td>
        </tr>
    }
    
    </table>
