@model IEnumerable<MVC_TKsovellus_1001.Models.Postitoimipaikat>

@{
    ViewBag.Title = "Index";
}

<h2>Postitoimipaikat</h2>

<p>
    <a class="btn btn-primary btm-sm" href="/Postitoimipaikatdb/Create">Lisää</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Postitoimipaikka)</th>

        <th>@Html.DisplayNameFor(model => model.Postinumero)</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Postitoimipaikka)</td>

            <td>@Html.DisplayFor(modelItem => item.Postinumero)</td>

            <td>
                <a class="btn btn-primary btm-sm" href="/Postitoimipaikatdb/Edit?id=@item.Postinumero">Muokkaa</a>
                <a class="btn btn-danger btm-sm" href="/Postitoimipaikatdb/Delete?id=@item.Postinumero">Poista</a>
            </td>
        </tr>
    }
    </tbody>
</table>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
            const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;
            const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
            v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
            )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));
            document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
            const table = th.closest('table');
            const tbody = table.querySelector('tbody');
            Array.from(tbody.querySelectorAll('tr'))
            .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
            .forEach(tr => tbody.appendChild(tr));
            })));
    </script>
}